.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  min-height: 100vh;
}

.header {
  width: 100%;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.header a {
  color: rgb(255, 255, 255);
  background-color: rgb(42, 126, 223);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.sn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.me {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 100%;
}

.description {
  margin-right: 5rem;
}

.footer {
  padding: 2rem;
  background-color: rgb(54, 54, 54);
  text-align: center;
  width: 100%;
}

.footer p {
  color: white;
}
